.GpEmbla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 32rem;
  /* @apply xl:h-[44rem] lg:h-[40rem] h-[36rem]; */
  padding: 0.8rem;
}
.GpEmbla__viewport {
  overflow: hidden;
}
.GpEmbla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.GpEmbla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.GpEmbla__slide__img {
  display: block;
  /* height: var(--slide-height); */
  @apply xl:h-[32rem] lg:h-[28rem] md:h-[24rem] h-[20rem];

  width: 100%;
  object-fit: cover;
}
.GpEmbla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.GpEmbla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.GpEmbla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 10rem;
  /* @apply xl:h-[10rem] lg:h-[8rem] h-[6rem]; */
  margin-top: var(--thumbs-slide-spacing);
}
.GpEmbla-thumbs__viewport {
  overflow: hidden;
}
.GpEmbla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.GpEmbla-thumbs__slide {
  flex: 0 0 28%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  position: relative;
}

@media (min-width: 0px) {
  .GpEmbla-thumbs__slide {
    flex: 0 0 40%;
  }
}
@media (min-width: 640px) {
  .GpEmbla-thumbs__slide {
    flex: 0 0 33%;
  }
}
@media (min-width: 1024px) {
  .GpEmbla-thumbs__slide {
    flex: 0 0 25%;
  }
}
.GpEmbla-thumbs__slide__button {
  /* -webkit-appearance: none; */

  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.2;
  transition: opacity 0.2s;
}
.GpEmbla-thumbs__slide--selected .GpEmbla-thumbs__slide__button {
  opacity: 1;
}
.GpEmbla-thumbs__slide__img {
  display: block;
  /* height: var(--thumbs-slide-height); */
  @apply xl:h-[10rem] lg:h-[8rem] md:h-[7rem] h-[6rem];

  width: 100%;
  object-fit: cover;
}
.GpEmbla-thumbs__slide__number {
  width: 3rem;
  height: 3rem;
  z-index: 1;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 3rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.GpEmbla-thumbs__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
