@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./galleryEmbla.css";
@import "./galleryPageEmblaThumb.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* @import "./galleryBase.css"; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); }*/

::-webkit-scrollbar {
  width: 0.5rem;
}

.accordion-hover:hover > .MuiAccordionSummary-expandIconWrapper {
  @apply text-[#FFFFFF] transition duration-500 ease-in-out;
}

.accordion-hover > .MuiAccordionSummary-expandIconWrapper .MuiSvgIcon-root {
  @apply xl:!text-[3rem] !text-[2rem];
}

@keyframes custom-ping {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.custom-ping {
  animation: custom-ping 0.5s ease-out;
}

@keyframes custom-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.custom-pulse {
  animation: custom-pulse 0.5s ease-out;
}

.pageContainerPaddingY {
  @apply xl:py-20 lg:py-16 md:py-12 py-8;
}

.custom-mui-input > .MuiInputBase-root > input {
  @apply !text-[#FFFFFF] !text-[1.125rem] !font-semibold !bg-transparent;
}
